.container {
    overflow: hidden;
}

.logo {
    position: fixed;
    top: 80px;
    font-size: 2.2em;
    left: 100px;
    color: #ff003d;
    z-index: 1000;
    font-weight: 900;
    transform: scale(.9, 1);
}

.animation {
    position: relative;
    height: 100vh;
    background: #252526;
}

.footer {
    height: 400vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #253744;
}

.image {
    width: 360px;
    height: 269px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1 {
    z-index: 200;
}

.image2 {
    z-index: 190;
}

.image3 {
    z-index: 180;
}

.image4 {
    z-index: 170;
}

.image5 {
    z-index: 160;
}

.image6 {
    z-index: 150;
}

.phone-image {
    z-index: 9;
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.phone-mockup {
    position: fixed;
    width: 398px;
    height: 768px;
}

.phone-screen {
    position: fixed;
    z-index: 10;
    width: 360px;
    height: 730px;
    border-radius: 45px;
}

.scrolling-text {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -20vh);
    font-size: 9em;
    width: 100%;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}
