.App {
}

.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9f4ff;
}

.footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e0fa;
}

.Animation {
    position: relative;
    height: 100vh;
    background: #fff7e9;
    overflow: hidden;
}

.image,
.phone-image {
    position: absolute;
    width: 300px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.image {
    z-index: 10;
}

.phone-image {
    z-index: 1;
}
