.App {
}

.App-header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f4ff;
}

.App-footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9e0fa;
}

.Animation {
  height: 100vh;
  background: #fff7e9;
  position: relative;
  overflow: hidden;
}

.image {
  width: 300px;
  position: absolute;
  right: 0;
}
